<div class="footer">
	<div class="col-xs-4 text">SMD Example Whole School Report</div>
	<div class="col-xs-4 text-center"><%=p%></div>
	<div class="col-xs-4 text text-right">SmartMove Data January 2015</div>
</div>
