<%= form_for(@dat) do |f| %>
  <% if @dat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dat.errors.count, "error") %> prohibited this dat from being saved:</h2>

      <ul>
      <% @dat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
