<style>

.frontSMLogo {
height:70px;
margin-top:20px;
margin-right:40px;
}

.frontSMIDLogo {
	margin-left:auto;
	margin-right:auto;
	margin-top:300px;
}


.front_school_name {
	margin-top:300px;
	margin-left:90px;
}
.frontQuote {
margin-top:170px;
margin-right:30px;
}

.quote_marks {
font-size:50px;
margin-right:20px;
}

</style>
<div class="front_page">
	<div class="text-right">
			<%=image_tag("logo_red.png", class: 'frontSMLogo')%>
	</div>
	<div class="row text-center">
		<%=image_tag("smidLogo.png", class: 'frontSMIDLogo')%>
	</div>
	<div class="front_school_name">
		<h1>Bennetthorpe Academy</h1>
		<h1>February 2015</h1>
	</div>
	
	<div class="frontQuote text-right">
		<h2><i class="fa fa-quote-left quote_marks"></i><i>A consistent approach to tackling in year data...</i></h2>
	</div>
</div>

