

<%k=0%>

<table class=" mini_table" id="printTable" >
			<tr>
				<th class="title_td">KS2</th>
				<th class="title_td">U</th>
				<th class="title_td">G</th>
				<th class="title_td">F</th>
				<th class="title_td">E</th>
				<th class="title_td">D</th>
				<th class="title_td">C</th>
				<th class="title_td">B</th>
				<th class="title_td">A</th>
				<th class="title_td">A*</th>
	
			</tr>
			<%@ks2_number.each do |s| %>


				<tr class="mini">
					<th class="title_td"><%=s[0]%></th>
					<%for j in 0..8%>
						<%n=0%>
						<%names = Array.new()%>
							
								<%for i in 0..d.length-1%>
									<%if d[i]['grade'] && d[i]['ks2']%>
										<%if d[i]['grade']==j && d[i]['ks2']==s[1]%>
											<p class="tm_text">
												<%names << d[i]['name'] %>
											</p>
											<%n+=1%>
								
										<%end%>
									<%end%>
								<%end%>
								
							<%if n>0%>
								<%v = n*100/d.length%>
							<%else%>
								<%v=0%>
							<%end%>
							<% if @above.include? k%>
								<td class="above mini">
							<%elsif @one_below.include? k%>
								<td class="one_below mini">
							<%elsif @on_target.include? k%>
								<td class="on_target mini">
							<%else%>
								<td class="below mini">
							<%end%>
							<%if names.length>0%>
								
									<%=names.length%> - 
									 <%=100*names.length/d.length%>%
							<%end%>					
						</td>
						<%k+=1%>
					<%end%>
				</tr>
			<%end%>
	
		</table>
