<style>
.row {
max-width:1600px;
margin-left:auto;
margin-right:auto;
}
.top_bar {
margin-top:20px;
}
.top_bar_subject {
border: 2px solid grey;
margin-bottom:20px;
height:100px;
border-radius:20px;
padding-top:30px;
}
.top_bar_subject:hover {
cursor:pointer;
-webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}
.core_subject {
background-color:#36C28A;
}
.ebacc_subject {
background-color:#FAB555;
}
.other_subject {
background-color:#3F7DE8;
}
.subject_selector {
background-color:#fff;
border: 2px solid grey;
margin-bottom:20px;
height:120px;
border-radius:20px;
padding:10px;
}
.subject_selector:hover{
cursor:pointer;
-webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

.subject_selected{
background-color:#B53F5D;
border: 2px solid grey;
margin-bottom:20px;
height:100px;
border-radius:20px;
padding:10px;
}

.subject_selected:hover{
cursor:pointer;
-webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

.subject_layout {
border-right:2px solid grey;
}

#title {
font-size:30px;
margin-bottom:20px;
}
.submit {
margin-top:20px;
}
</style>
<div class="row top_bar">
	<div class="col-xs-1 col-xs-offset-2" id="show_maths"><div class="top_bar_subject text-center core_subject">Maths Qualifications</div></div>
	<div class="col-xs-1" id="show_eng"><div class="top_bar_subject text-center core_subject">English Qualifications</div></div>
	<div class="col-xs-1" id="show_eng_lit"><div class="top_bar_subject text-center core_subject">Eng-Lit Qualifications</div></div>
	<div class="col-xs-1" id="show_science"><div class="top_bar_subject text-center ebacc_subject">Science Qualifications</div></div>
	<div class="col-xs-1" id="show_humanities"><div class="top_bar_subject text-center ebacc_subject">Humanities Qualifications</div></div>
	<div class="col-xs-1" id="show_lang"><div class="top_bar_subject text-center ebacc_subject">Language Qualifications</div></div>
	<div class="col-xs-1" id="show_other"><div class="top_bar_subject text-center other_subject"> Other <br />Subjects</div></div>
</div>

<div id="title" class="text-center"></div>
<div class="row">
	<div class="col-xs-9 subject_layout">
	
	
		<div id="maths_subjects" class="subjects">
	
			<div id="maths_subject_selection">
		
			</div>
		</div>
		<div id="eng_subjects" class="subjects">
	
			<div id="eng_subject_selection">
		
			</div>
		</div>
		<div id="eng_lit_subjects" class="subjects">
	
			<div id="eng_lit_subject_selection">
		
			</div>
		</div>
		<div id="science_subjects" class="subjects">
	
			<div id="science_subject_selection">
		
			</div>
		</div>
		<div id="humanities_subjects" class="subjects">
	
			<div id="humanities_subject_selection">
		
			</div>
		</div>
		<div id="lang_subjects" class="subjects">
			<div id="lang_subject_selection" class="container">
		
			</div>
		</div>
		<div id="other_subjects" class="subjects">
			<div id="other_subject_selection" class="container">
		
			</div>
		</div>
	</div>
	<div class="col-xs-3 text-center list">
		<div class="show_list">
			<h4>Selected Subjects</h2>
			<div id="list"></div>
			
		</div>
		<div id="submit" class="btn btn-success submit">Download Template</div>
	</div>
</div>





<script>
for (var i = 0; i < maths_subject.length; i++) {
 $('#maths_subject_selection').append('<div class="col-xs-2"><div id='+maths_subject[i].replace(/\s+/g, '-')+' class="selection subject_selector text-center">'+maths_subject[i]+'</div></div>');
}
for (var i = 0; i < eng.length; i++) {
 $('#eng_subject_selection').append('<div class="col-xs-2"><div id='+eng[i].replace(/\s+/g, '-')+' class="selection subject_selector text-center">'+eng[i]+'</div></div>');
}

for (var i = 0; i < eng_lit.length; i++) {
 $('#eng_lit_subject_selection').append('<div class="col-xs-2"><div id='+eng_lit[i].replace(/\s+/g, '-')+' class="selection subject_selector text-center">'+eng_lit[i]+'</div></div>');
}
for (var i = 0; i < science.length; i++) {
 $('#science_subject_selection').append('<div class="col-xs-2"><div id='+science[i].replace(/\s+/g, '-')+' class="selection subject_selector text-center">'+science[i]+'</div></div>');
}
for (var i = 0; i < humanities.length; i++) {
 $('#humanities_subject_selection').append('<div class="col-xs-2"><div id='+humanities[i].replace(/\s+/g, '-')+' class="selection subject_selector text-center">'+humanities[i]+'</div></div>');
}
for (var i = 0; i < lang.length; i++) {
 $('#lang_subject_selection').append('<div class="col-xs-2"><div id='+lang[i].replace(/\s+/g, '-')+' class="selection subject_selector text-center">'+lang[i]+'</div></div>');
}

for (var i = 0; i < other_subject.length; i++) {
 $('#other_subject_selection').append('<div class="col-xs-2"><div id='+other_subject[i].replace(/\s+/g, '-')+' class="selection subject_selector text-center">'+other_subject[i]+'</div>');
}

$('.subjects').hide();
ruby_list=['Surname','Forename','PP','SEN','EAL','English_KS2_fine', 'Maths_KS2_fine', 'English_KS2_grade', 'Maths_KS2_grade'];
$('#show_maths').click(function(){
	$('.subjects').hide();
	$('#title').text('Maths Qualifications');
	$('#maths_subjects').show();
});

$('#show_eng').click(function(){
	$('.subjects').hide();
	$('#title').text('English Qualifications');
	$('#eng_subjects').show();
});

$('#show_eng_lit').click(function(){
	$('.subjects').hide();
	$('#title').text('English Literature Qualifications');
	$('#eng_lit_subjects').show();
});

$('#show_science').click(function(){
	$('.subjects').hide();
	$('#title').text('Science Qualifications');
	$('#science_subjects').show();
});

$('#show_humanities').click(function(){
	$('.subjects').hide();
	$('#title').text('Humanities Qualifications');
	$('#humanities_subjects').show();
});

$('#show_lang').click(function(){
	$('.subjects').hide();
	$('#title').text('Language Qualifications');
	$('#lang_subjects').show();
});

$('#show_other').click(function(){
	$('.subjects').hide();
	$('#title').text('Other Qualifications');
	$('#other_subjects').show();
});

$('.selection').click(function() {
   
   $(this).hide('slow');
   $('#list').append('<div class="col-xs-6"><div id='+this.id+' class="list_item subject_selected">'+this.id+'</div></div>');
   ruby_list.push(this.id+'_Class');
   ruby_list.push(this.id);
	console.log(ruby_list);
	
	$('.list_item').click(function() {
   $(this).hide('slow');
   $('#'+this.id).show();
    
    removeA(ruby_list,this.id+'_Class');
	
   removeA(ruby_list,this.id);
	console.log(ruby_list);
	});
	
});
$('#submit').click(function(){
var data = ruby_list;
var csvContent = "data:text/csv;charset=utf-8,";
csvContent += data;
var encodedUri = encodeURI(csvContent);
var link = document.createElement("a");
link.setAttribute("href", encodedUri);
link.setAttribute("download", "my_data.csv");

link.click(); // This will download the data file named "my_data.csv".
});


function removeA(arr){
var what, a= arguments, L= a.length, ax;
while(L> 1 && arr.length){
    what= a[--L];
    while((ax= arr.indexOf(what))!= -1){
        arr.splice(ax, 1);
    }
}
return arr;
}

</script>
