@gray: #555;
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
body {
-webkit-print-color-adjust:exact;
}

.tm_matrix {
max-height:1250px;
width:900px;
overflow:hidden;
font-size:9px;
border: 2px solid @gray;
}

.tm_matrix td {
height:30px;
border: 1px solid @gray;
}

.cont {
width:960px;
overflow:hidden;
margin-left:auto;
margin-right:auto;
}

.front_page {
width:940px;
height:1310px;
background-color:#fff;
overflow:hidden;
margin-top:10px;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
border-radius:0px;

border:1px solid @gray;
}

.page {
width:958x;
max-width:958x;
height:1330px;
margin-left:auto;
margin-right:auto;
margin-top:20px;
border:1px solid @gray;
padding:20px;
}


@media print {
.page {
width:958x;
height:1330px;
margin-left:auto;
margin-right:auto;
margin-top:0px;
border:0px;
}
.front_page {
border:0px solid @gray;
}

}



/* Tables with results*/
.below_color 
{
background-color:@brand-danger;
}
.three_levels_color 
{
background-color:@brand-warning;
}
.four_levels_color 
{
background-color:@brand-success;
}
.above_color 
{
background-color:@brand-primary;
}

.main_table {
width:1000px;

}

.main_table td {
width:30px;
overflow: hidden;

}

@matrix_td_width: 10.8%;

@tm_border: @gray;

.title_td {
border: 1px solid @tm_border;
text-align:center;
font-size:10px;
}

.below {
background-color: @brand-danger;
border: 1px solid @tm_border;
}

.one_below {
background-color: @brand-warning;
border: 1px solid @tm_border;
}

.on_target {
background-color: @brand-success;
border: 1px solid @tm_border;
}

.above {
background-color: @brand-primary !important;
border: 1px solid @tm_border;
}

.mini_table {
padding:0px;
width:100%;
}

.mini-table tr {
line-height:12px;
padding:0px;
}

.mini-table th {
font-size:10px;
padding:0px;
text-align:center;
}
.mini_table td {
max-height:10px;
margin:0px;
font-size:10px;
padding:0px;
text-align:center;
}




.fa-check-circle {
	font-size:22px;
	color:#428bca;
}

.qual_title {
	font-size:20px;
	font-weight:bold;
}

.class_title {
	font-size:16px;
}

.class_table {
	
}

.class_table td {

}
.numberCircle_percent {
	margin-left:auto;
	margin-right:auto;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    pading-left:1px;
    background: #fff;
    text-align: center;
    font: 10px Arial, sans-serif;
}
.numberCircle_large {
	margin-left:auto;
	margin-right:auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    pading-left:16px;
    background: #5bc0de;
    border:1px solid #000;
    text-align: center;
    font: 20px Arial, sans-serif;
}
.numberCircle {
	margin-left:auto;
	margin-right:auto;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top: 5px;
    padding-left:1px;
    background: #fff;
    text-align: center;
    font: 11px Arial, sans-serif;
    
}

.black_color {
border:0px solid #000;
	background-color:#000;
	color: #fff;

}

.below_color{
 	border:0px solid #000;
	background-color:#d9534f;
	color: #fff;
}
.one_below_color {
 	border: 0px solid #000;
 	background-color:#f0ad4e;
	color: #fff;
}
.on_track_color {
 	border: 0px solid #000;
 	background-color:#5cb85c;
 	color: #fff;
}

.above_color {
	border: 0px solid #000;
 	background-color:#428bca;
 	color: #fff;
}
.hidden {
display:none;
}

.individual_ks2_gap {
margin-bottom:30px;
}

/*School overview page*/

.total_content {
	border: 3px solid #000;
	
	margin-left:auto;
	margin-right:auto;
    border-radius: 10%;
    width:	200px;
    height: 120px;
    padding-top: 5px;
    pading-left:1px;
    text-align: center;
}

.total_title {
font-size: 14px;
margin-top:20px;
}

.total_score {
margin-top:32px;
font-size:25px;

}

.student_list_table {
width:100%;
text-align: center;
}

.student_list_table th{
padding-bottom:4px;
border:1px solid #eee;
text-align: center;

}

.student_list_table td {
padding-top:4px;
padding-bottom:4px;
border:1px solid #eee;
}

.rotate_90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}