@gray: #555;
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
body {
-webkit-print-color-adjust:exact;
}

.cont {
width:960px;
overflow:hidden;
margin-left:auto;
margin-right:auto;
}

.front_page {
width:940px;
height:1310px;
background-color:#EDEDED;
overflow:hidden;
margin-top:10px;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
border-radius:20px;
padding:20px;
}

.page {
width:958x;
height:1330px;
margin-left:auto;
margin-right:auto;
margin-top:20px;
border:1px solid @gray;
}

@media print {
.page {
width:958x;
height:1330px;
margin-left:auto;
margin-right:auto;
margin-top:0px;
border:0px;
}

}



/* Tables with results*/
.below_color 
{
background-color:@brand-danger;
}
.three_levels_color 
{
background-color:@brand-warning;
}
.four_levels_color 
{
background-color:@brand-success;
}
.above_color 
{
background-color:@brand-primary;
}

.main_table {
width:1000px;

}

.main_table td {
width:30px;
overflow: hidden;

}

@matrix_td_width: 10.8%;

@tm_border: @gray;

.title_td {
border: 1px solid @tm_border;
text-align:center;
font-size:10px;
}

.below {
background-color: @brand-danger;
width:@matrix_td_width;
border: 1px solid @tm_border;
}

.one_below {
background-color: @brand-warning;
width:@matrix_td_width;
border: 1px solid @tm_border;
}

.on_target {
background-color: @brand-success;
width:@matrix_td_width;
border: 1px solid @tm_border;
}

.above {
background-color: @brand-primary !important;
width:@matrix_td_width;
border: 1px solid @tm_border;
}

.mini_table {
padding:0px;
}

.mini-table tr {
line-height:12px;
padding:0px;
}

.mini-table th {
font-size:10px;
padding:0px;
text-align:center;
}
.mini_table td {
max-height:10px;
margin:0px;
font-size:10px;
padding:0px;
text-align:center;

}

