<!DOCTYPE html>
<html>
<head>
  <title>P8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">	
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","table"]}]}'></script>
   
  <%= csrf_meta_tags %>
  <script>
   google.load("visualization", "1", {packages:["gauge"]});
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
